@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.logo img{
    border-radius: 50%;
    width:100px;
    height:100px;
}

.mynavbar{
    background-color: #102147;
}

.nav-list{
    width:700px;

}

.nav-list li a{
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}

.nav-list li a:hover{
    color:#44D2F6;
    border-bottom: 2px solid #44D2F6;
    transition: 0.3s ease-in;
}



.cta-section{
    height:90vh;
}

.car1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.274),rgba(0, 0, 0, 0.499)),url('../images/carousel-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:90vh;
    position: relative;
}

.car2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.274),rgba(0, 0, 0, 0.499)),url('../images/carousel-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:90vh;
}

.car3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.274),rgba(0, 0, 0, 0.499)),url('../images/carousel-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:90vh;
}


.content-div{

    width:800px;
    position: absolute;
    top:20%;
    left:20%;
    color: #fff;
}

.content-div h1{
    font-size: 4rem;
    font-weight: 900;
}


.content-div p{
    font-size: 1.3rem;

}

.apply-btn{
    padding:1rem 2rem;
    background-color: #44D2F6;
    margin-right:10px;
    border-radius: 40px;
    box-shadow: 0px 0px 7px 1px #333;
    color: white;
}


.read-btn{
    padding:1rem 2rem;
    background-color: #102147;
    border-radius: 40px;
    box-shadow: 0px 0px 7px 1px #333;
    color:#fff;
}




.section2{
    padding: 3rem 0rem;
    background-color: #c0c5c7ab;
}

.section2 h2{
    color: #44D2F6;
}
.img1{
    height:200px;
}
.img1 img{
    width:100%;
    height:100%;
    object-fit: contain;
}

.sec-img{
    height:320px;
}

.sec-img img{
    width:100%;
    height:100%;
    object-fit: cover;

}

.mypara{
    font-size: 3rem;
    font-weight: 600;
    color: #102147;

}

.list li{
    font-size: 1.2rem;
}
.list{
    padding-bottom: 1rem;
}

.disc-btn{
    padding:0.8rem 2rem;
    background-color: #44D2F6;
    margin-right:10px;
    border-radius: 40px;
    box-shadow: 0px 0px 7px 1px #333;
    color: white;
}

.section3{
    padding: 3rem 0rem;
    text-align: center;
}

.service-haed{
    font-size: 2.7rem;
    font-weight: 600;
    color:#102147;
    width:700px;
    margin: 0 auto;
    text-align: center;
    padding-bottom:1.8rem;
}

.rd-btn{
    background-color: #44D2F6;
    padding:0.7rem 1rem;
    border-radius: 30px;
    color:#fff;
}

.card:hover .card-body{
    background-color: #102147;
    color:#fff;
    transition: 0.4s ease-in-out;
}

.card h5{
    font-size: 1.5rem;
    
}
.b1{
    padding: 10px;
    background: linear-gradient(#102147,#5a8792);
    color:#fff;
    height:100%;
}

.b1:hover{
    transform: translateY(-10%);
    transition: 0.4s ease-in-out;
    box-shadow: 0px 0px 4px 0px #44D2F6;
}

/* section4 */
.section4{
    padding:3rem 0rem;
    background-color: #e0f0f4;
}

.img-box img{
    width:200px;
    height:200px;
    border-radius: 50%;
    margin-bottom: 20px;
    
}

.loan-haed{
    font-size: 2.5rem;
    color:#102147;
   
}


.section5{
    padding:3rem 0rem;
    background-color: #E0F0F4;
}

.submit-btn{
    padding: 0.5rem 2rem;
    margin-top: 10px;
    background-color: #102147;
    color:#fff;
}

.submit-btn:hover{
    background-color: #44D2F6;
    transition: 0.3s ease-in-out;
}



.form-div{
    width:100%;
    padding: 20px;
    background-color: #fff;
}

.contact-head{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #102147;
    padding-bottom: 20px;
}

.footer{
    padding:1.5rem 0rem;
    background-color: #102147;
    color:#fff;
    font-size: 1.4rem;
}


.li-menu{
    width:100px;
   
}

.tool-section{
    padding:3rem 0rem;
}

.owl-dot{
    display: block;
}

.owl-nav{
    display: block;
}

@media(max-width:320px){
    .tool-card{
        width:100%;
        
    }
    
    .content-div{
       top:20%;
       left:0;
       padding: 20px;
    }

    .content-div h1{
        font-size: 2rem;
        font-weight: 900;
        width:300px;
    }
    .content-div p{
        width:300px;
        font-size: 0.8rem;
    }
    .mypara{
        font-size: 1.5rem;
        padding-top:20px ;
    }

    .b1{
        margin-bottom: 20px;
        
    }
    .b1:hover{
        transform: translate(0);
    }

    .service-haed{
        font-size: 1.4rem;
        width:100%;
        margin: 0;
        text-align: center;
    }

    .card{
        margin-bottom: 10px;

    }

    .map iframe{
        width:100%;
    }


}

#financial-tools {
    padding: 2em;
    background-color: #f5f5f5;
    text-align: center;
  }
  
  #financial-tools h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  #financial-tools p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
  }
  
  .tools-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .tool-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5em;
    width: 90%;
    margin: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
  }
  
  .tool-card h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  
  .tool-card p {
    font-size: 1em;
    margin-bottom: 1em;
  }
  
  .tool-card a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .tool-card a:hover {
    text-decoration: underline;
  }


  
  @media (max-width: 768px) {
    .tool-card {
      width: 80%;
    }
  }
  
